@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #ffffff;
  --light: #E5E6E8;
  --regular: #556a7e;
  --dark: #000000;
  --special: #2d8650;
  --grayed: rgba(122,147,172,0.15);
}

.dark {
  --background: #000000;
  --light: #111217;
  --regular: #7a93ac;
  --dark: #ffffff;
  --special: #aef6c7;
  --grayed: rgba(122,147,172,0.15);
}

html {
  overscroll-behavior-y: none;
}

main {
  scrollbar-width: none;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}
