@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --light: #faf9f6;
  --regular: #7a93ac;
  --dark: #2d3142;
  --special: #315c2b;
}

.dark {
  --light: #2d3142;
  --regular: #7a93ac;
  --dark: #faf9f6;
  --special: #aef6c7;
}

html {
  overscroll-behavior-y: none;
}

main {
  scrollbar-width: none;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}
